.create-thread {
    background-color: white; 
    margin: 20px auto; 
    padding: 20px; 
    width: 53%;
    position: center;
    border-radius: 10px;
}

.create-thread form div {
    margin-bottom: 20px;
}

.create-thread form label {
    display: block;
    margin-bottom: 5px;
}

.create-thread form input[type="text"],
.create-thread form input[type="url"],
.create-thread form textarea,
.create-thread form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-thread form .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}

.create-thread form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto; 
}

.create-thread input::placeholder,
.create-thread textarea::placeholder {
  font-size: 14px;
  color: #999; 
  font-family: monospace;
}
