.container { 
	margin: 0 auto; 
    width: 825px;
    margin-left: 270px;
    margin-bottom: .5rem;
}

section {
	background-color: #fff;
	border: 1px solid #e5eaec;
	color: #212529;
	padding: 2rem 1rem;
}

h3 {
    border-bottom: 1px solid #e5eaec;
    color: #909ea2;
    font-size: .8rem;
    margin: 0 0 1rem;
    text-transform: uppercase;
    align-content: center;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: .5rem;
    text-align: center;
}

.magazine__name {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: .5rem;
    text-align: center;
}
.magazine__title {
    margin-top: 0;
    text-align: center
}
p {
    margin-bottom: 1rem;
    margin-top: 0;
    justify-content: left
}

.magazine__subscribe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.content, .row {
    position: relative;
    word-break: break-word;
}

.content {
    overflow: hidden !important;
}

.mt-3 {
    margin-top: 1.5rem !important;
}

.magazine_name a {
    color: #37769e;
    overflow-wrap: anywhere;
    text-decoration: none; 
}

.magazine_name a:hover {
    color: #275878;
}

.magazine__subscribe button {
    height: 100%;
    cursor: pointer;
    background-color: #fff;
    color: #606060;
    border: 1px dashed #e5eaec;
    padding: 0.3rem 0.5rem;
}

.magazine__subscribe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.5rem;
}
.magazine__subscribe div {
    align-items: center;
    background-color: #fff;
    color: #606060;
    border: 1px dashed #e5eaec;
    display: flex;
    flex-direction: row;
    font-size: .9rem;
    left: 1px;
    padding: .3rem .5rem;
    position: relative;
}